
global
    daemon
    maxconn 256

defaults
    mode tcp
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

frontend redis_front
    bind *:7000
    default_backend redis_back

backend redis_back
    balance roundrobin
    server redis-master redis-master:6379 check
    server redis-slave1 redis-slave1:6379 check
    server redis-slave2 redis-slave2:6379 check
